<h1>Edit Video</h1>
<%= form_for(@video) do |f| %>

  <div class="field">
    <%= f.label :video, "Video" %>
    <%= f.text_area :video %>
  </div>

  <div class="actions">
    <%= f.submit value="Submit Video", :class => "button" %>
  </div>

<% end %>
<%= link_to 'Home', nbafinals_path %> | <%= link_to "Delete Video", @video, method: :delete %>
