<div id="nba-final-show-react" data-year=<%= @nbafinal.year %>></div>
<p></p>
<div id="hiddenfinalsshow">
  <h1><%= @nbafinal.year %></h1>
  <% if @nbafinal.champion == "Celtics" %>
    <% team_city = "Boston" %>
  <% else %>
    <% team_city = "Los Angeles" %>
  <% end %>
  <h3>The <%= team_city %> <%= @nbafinal.champion %> won the <%= @nbafinal.year %> NBA Championship in
  <%= @nbafinal.numgames %> games. </h3>
  <% if @nbafinal.mvp != nil %>
    <h3><%= @nbafinal.mvp %> was the MVP of the series.</h3>
  <% end %>
</div>
<p></p>
<div id="gamelist">
  <ul>
    <% @games.each_with_index do |game, index| %>
      <li>Game <%= index + 1%>: <%= link_to game.score, nbafinal_game_path(game) %></li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <div class="reviewform">
    <div class="formcomponents">
      <h3>Add a review:</h3>
      <%= form_for [ @nbafinal, @review ] do |f| %>
      <div class="field">
        <%= f.label :rating %>
        <%= f.select :rating, @review_ratings %>
      </div>

      <div class="corefield">
        <div class="corelabel">
          <%= f.label :body, "Review" %>
        </div>
          <%= f.text_area :body %>
        </div>

        <div class="actions">
          <%= f.submit value="Submit Review", :class => "button" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


  <% if user_signed_in? %>
    <div class="imageform">
      <div class="formcomponents">
      <h3>Add an image:</h3>
      <%= form_for [ @nbafinal, @image ] do |f| %>
        <div class="corefield">
          <div class="corelabel">
        </div>
          <%= f.text_area :image %>
        </div>

        <div class="actions">
          <%= f.submit value="Submit Image", :class => "button" %>
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  <% if user_signed_in? %>
    <div class="videoform">
    <div class="formcomponents">
      <h3>Add a video:</h3>
      <%= form_for [ @nbafinal, @video ] do |f| %>
        <div class="corefield">
          <div class="corelabel">
          <%= f.text_area :video %>
        </div>
        <div class="actions">
          <%= f.submit value="Submit Video", :class => "button" %>
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
<div class=videolist>
  <h2>Videos:</h2>
    <% @nbafinal.videos.each do |video| %>
      <div id="votevideo"></div>
      <p><iframe width="420" height="315" src="<%=video.video %>" frameborder="0" allowfullscreen></iframe></p>
      <p>Video added by <%= video.user.first_name %> <%= video.user.last_name %>
      on <%= video.created_at.strftime("%B %d, %Y") %></p>
      <p>
      <% if user_signed_in? %>
        <% if current_user == video.user %>
          <%= link_to "Edit Video", edit_video_path(video) %>
        <% end %>
        <% if current_user.id == video.user_id && current_user.admin? %>
          |
        <% end %>
        <% if current_user.id == video.user_id || current_user.admin? %>
          <%= link_to "Delete Video", video, method: :delete %>
        <% end %>
      <% end %>
      <hr/>
    <% end %>
  </div>
  <div class=imagelist>
  <h2>Images:</h2>
    <% @nbafinal.images.each do |image| %>
      <div id="voteimage"></div>
      <p><img src="<%= image.image %>"></p>
      <p>Image added by <%= image.user.first_name %> <%= image.user.last_name %>
      on <%= image.created_at.strftime("%B %d, %Y") %></p>
      <p>
      <% if user_signed_in? %>
        <% if current_user == image.user %>
          <%= link_to "Edit Image", edit_image_path(image) %>
        <% end %>
        <% if current_user.id == image.user_id && current_user.admin? %>
          |
        <% end %>
        <% if current_user.id == image.user_id || current_user.admin? %>
          <%= link_to "Delete Image", image, method: :delete %>
        <% end %>
        </p>
        <hr/>
      <% end %>
    <% end %>
  </div>
<div class=reviewlist>
<h2>Reviews:</h2>
  <% @nbafinal.reviews.each do |review| %>
    <div id="vote"></div>
    <p>Rating: <%= review.rating %></p>
    <p>Review: <%= review.body %></p>
    <p>By <%= review.user.first_name %> <%= review.user.last_name %>
      on <%= review.created_at.strftime("%B %d, %Y") %>
      <p>
      <% if user_signed_in? %>
        <% if current_user == review.user %>
          <%= link_to "Edit Review", edit_review_path(review) %>
        <% end %>
        <% if current_user.id == review.user_id && current_user.admin? %>
          |
        <% end %>
        <% if current_user.id == review.user_id || current_user.admin? %>
          <%= link_to "Delete Review", review, method: :delete %>
        <% end %>
      <% end %>
    </p>
    <hr/>
  <% end %>
</div>


<div id="returntoindexlink">
  <%= link_to "Return to NBA Finals Index Page", nbafinals_path %>
</div>
